* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

body {
    background-color: rgb(232, 231, 235);
}

h1 {
    background-color: rgb(47, 1, 85);
    color: rgb(43, 180, 134);
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

#orders-gallery {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    margin: 10px 40px;
}

#single-order {
    margin: 10px 40px;
}

#customer {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#order-number {
    padding: 10px 30px;
    background-color: rgb(113, 192, 165);
    color: rgb(47, 1, 85);
    font-weight: bold;
}

#order-details {
    background-color: rgb(216, 231, 231);
    padding: 10px 30px;
}

#game-image {
    margin-bottom: 20px;
}
