<html>
    <head>
        <title>{{ title }} - Fake Game Shop</title>
    </head>
    <body>
        <h1>List of game orders (FAKE)</h1>
        {% for game in games %}
        <div>
            <p>
                <b>Customer name: </b>{{game.customer_name}} | <b>Order date: </b>{{game.order_date}} | <b>Quantity: </b>{{game.quantity}} | <b>Game title: </b> {{game.game_title}} | <b>Genre: </b>{{game.genre}} | <b>Age rating: </b>{{game.age_rating}}
            </p>
            <p>
                Order number: <a href="orders/{{ loop.index - 1 }}">{{ loop.index }}</a>
            </p>
            <br>
        </div>
        {% endfor %}
    </body>
</html>